@charset "UTF-8";
/*Mobile*/

* {
    padding: 0px;
    margin: 0px;
}

body {
    background-color: rgb(46, 46, 63);
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    background-color: rgb(43, 19, 75);
    padding: 10px;
}

li {
    display: inline-block;
    padding: 15px;
}

section#secmain {
    height: 100vh;
    background-color: black;
    width: 85vw;
    margin: auto;

}

div#principal {
    padding: 15px;
    background-color: rgb(31, 30, 30);
    display: block;
    width: 90%;

    margin: auto;
}

#text {
    display: inline;
    width: 220px;
    text-indent: 10px;
    text-align: left;
    float: right;
    margin-top: 30px;
}

img {
    height: 150px;
    width: 150px;
    display: inline-block;
}

#secundario {
    background-color: aquamarine;
}

footer {
    background-color: black;
    height: 50px;
    text-align: center;
}

